.markdown-editor {
    display: flex;
    height: 100vh;
    font-family: sans-serif;
    max-width: 100%; /* Ensure it doesn’t exceed the viewport width */
}

.editor-container {
    display: flex;
    flex: 1;
}

.editor-textarea {
    flex: 0.75; /* Use 1 to fill available space equally */
    padding: 12px;
    background-color: #2b2b2b;
    color: #c5c5c5; 
    border: none;
    border-right: 1px solid #444;
    outline: none;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    resize: none;
    overflow-y: auto;
}

.divider {
    width: 5px;
    background-color: #555;
}

.markdown-preview {
    font-family: sans-serif;
    flex: 1;
    padding: 20px;
    background-color: #1e1e1e;
    color: #c5c5c5; 
    overflow-y: auto;
    min-width: 0;
    min-height: 100%;
    box-sizing: border-box;
}

/* Code block styling */
pre {
    background-color: #1e1e1e;
    color: #c5c5c5;
    padding: 15px;
    border-radius: 5px;
    overflow: auto;
    white-space: pre-wrap;
    border: 1px solid #444;
}

/* Code inside preformatted text */
code {
    background-color: transparent; 
    color: #ff8585;
    border-radius: 4px;
}
